body {
  color: black;
  font-size: 15;
  font-family: Arial;
}

.centered {
  position: fixed;
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.centered1 {
  position: fixed;
  top: 70%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.header {
  position: top;
}

h1 {
  color: rgba(0,0,0,.9);
  font-size: 50;
  font-family: Arial;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  padding-top: 2em;
  color: #9A0000;
  font-family: 'Anonymous Pro', monospace;  
  background-color: #ffffff;
  font-family: 'Anonymous Pro', monospace;  
}
.line-1{
    position: relative;
    top: 40%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(0,0,0,.75);
    font-size: 170%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0,0,0,1);}
  to{border-right-color: transparent;}
}

.overlay {
  height: 0;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(25,25,25, 1);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a{
	padding: 8px;
	text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay p{
	padding: 8px;
	text-decoration: none;
	font-size: 25px;
	color: #f1f1f1;
	display: block;
	transition: 0.3s;
	padding-left: 10%;
	padding-right: 10%;
}

span{
	font-size:23px;
  cursor:pointer;
  float:right;
}

.feedback{
  position: fixed;
  font-size:23px;
  cursor:pointer;
  text-decoration: none;
  color: #9A0000;
}
.feedback:hover{
  opacity: .5;
}

.how-we-rate:hover {
	opacity: .5;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.column {
  position: relative;
  width: 20%; 
  float: left;
  height: 300px;
}

.column1 {
  position: relative;
  height: 330px;
  float: left;
  width: 60%;
}

.column2 {
  position: relative;
  text-align: left;
  float: left;
  width: 40%;
}

.column3{
  position: relative;
  width: 30%
}
.column11 {
  position: relative;
  float: left;
  width: 60%;
}

.column12 {
  text-align: left;
  float: left;
  width: 6%;
  color: #9A0000; 
  font-size: 25px;
}

.column13{
  height: 45px;
  float: right;
  text-align: center;
  width: 28%;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  margin-top: 20px;
  border-radius: 20px;
}
#myBar{
  height: 43px;
  margin: 0;
  border-radius: 20px;
}
.courses {
	font-family: 'Open Sans', sans-serif;
	font-size: 50;
  color: #000000;
}

.web-name{
  position: absolute;
  margin-top: 0;
  color:black; 
  margin-bottom: 0;
  font-size: 400%;
  text-decoration: none;
  float: left;
}

.web-name:hover{
  opacity: .5;
}

.mweb-name{
  margin-top: 0;
  float: right;
  color:black; 
  margin-bottom: 0;
  font-size: 150%;
  text-decoration: none;
  font-weight: bold;
}

.mweb-name:hover{
  opacity: .5;
}

.new_search{
  font-size: 17pt; 
  padding-bottom: 10px;
  text-align: left;
  width: auto;
}

.course-name{
  color: black; 
  margin-bottom: 0pt;
}

.course-name:hover{
  opacity: .5;
}

.teacher{
  text-indent: 40px; 
  font-size: 21px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #9A0000;
  font-weight:bold;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}

.teacher-mob{
  font-size: 105%;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #9A0000;
  font-weight:bold;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}

.teacher:hover, .teacher-mob:hover{
  opacity: .6;
}

.rating{
  font-size: 27px;
}

.avg_grades{
  text-indent: 70px; 
  font-size: 17px;
  margin-top: 5px;
  color: #000000;
}

.faker{
  font-size: 17px;
  text-align: left;
  padding-right: 5px;
}

input[type=text] {
  margin: 1px 0;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
}

.clear, .submit{
  color: #000000;
  float: right;
  margin-right: 5px;
}


.result_title{
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 40pt; 
  color: #9A0000; 
  margin-bottom: 0;
}



a:hover,label{cursor:pointer}
.belt:after,.breadcrumbs ul:after,.clearfix:after,.feature:after,.filter.alpha:after,.filter.link:after,.form-item.alpha:after,.form-item.link:after,.form-row:after,.grid.fourths:after,.grid.halves:after,.grid.thirds:after,.inner-wrap:after,.micro-profile:after,.news.ticker .inner:after,.photo-essay:after,.popover.open:after,.tabs-content:after,.tabs:after,hr,ul.social:after{clear:both}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
a{background-color:transparent}
a:active,a:hover{outline:0}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
input,select{line-height:normal}
body,label{line-height:1.5}
body,fieldset legend,label{font-weight:400}
body,html{height:100%;font-size:100%}
*,:after,:before{box-sizing:border-box}
body{background:#fff;cursor:auto;font-family:BentonSansRegular,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;font-style:normal;margin:0;padding:0}
label{color:#4d4d4d;display:block;font-size:.875rem;margin-bottom:0}
input[type=file],input[type=checkbox],input[type=radio],label.inline,select{margin:0 0 1rem}
label.float-right,label.right{float:none!important;text-align:right}
label.inline{line-height:2.375rem}
label small{text-transform:capitalize;color:#676767}
input:not([type]),input[type=text],input[type=password],input[type=date],input[type=datetime],input[type=datetime-local],input[type=month],input[type=week],input[type=email],input[type=tel],input[type=time],input[type=url],input[type=color],input[type=number],input[type=search],textarea{-webkit-appearance:none;-moz-appearance:none;border-radius:0;background-color:#FFF;border-style:solid;border-width:1px;border-color:#ccc;box-shadow:inset 0 1px 2px rgba(0,0,0,.1);color:#444;display:block;font-family:inherit;font-size:.875rem;height:2.3125rem;margin:0 0 1rem;padding:.5rem;width:100%;box-sizing:border-box;transition:border-color .15s linear,background .15s linear}
input:not([type]):focus,input[type=text]:focus,input[type=password]:focus,input[type=date]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=month]:focus,input[type=week]:focus,input[type=email]:focus,input[type=tel]:focus,input[type=time]:focus,input[type=url]:focus,input[type=color]:focus,input[type=number]:focus,input[type=search]:focus,textarea:focus{background-color:#fafafa;border-color:#999;outline:0}
input:not([type]).radius,input[type=text].radius,input[type=password].radius,input[type=date].radius,input[type=datetime].radius,input[type=datetime-local].radius,input[type=month].radius,input[type=week].radius,input[type=email].radius,input[type=tel].radius,input[type=time].radius,input[type=url].radius,input[type=color].radius,input[type=number].radius,input[type=search].radius,textarea.radius{border-radius:1.25rem}
input[type=submit]{-webkit-appearance:none;-moz-appearance:none;border-radius:0}
select{-webkit-appearance:none!important;-moz-appearance:none!important;background-color:#FAFAFA;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);background-position:100% center;background-repeat:no-repeat;border-color:#ccc;color:#444;font-family:inherit;border-radius:0}
select::-ms-expand{display:none}
select.radius{border-radius:1.25rem}
fieldset,table{border:0px solid #DDD}
select:focus{background-color:#f3f3f3;border-color:#999}
input[type=checkbox]+label,input[type=radio]+label{display:inline-block;margin-left:.5rem;margin-right:1rem;margin-bottom:0;vertical-align:baseline}
input[type=file]{width:100%}
fieldset{margin:0rem 0;padding:0rem}
fieldset legend{margin:0 0 0 -.1875rem;padding:0 .1875rem}
.full-width>div{width:100%}
.grid.fourths>*,.grid.halves>*,.grid.thirds>*{margin-bottom:1.5rem;width:100%}
.grid.fourths,.grid.halves,.grid.thirds{margin:0 auto;max-width:64rem;width:100%}
.grid.fourths:after,.grid.fourths:before,.grid.halves:after,.grid.halves:before,.grid.thirds:after,.grid.thirds:before{content:" ";display:table}
.one-half+.one-half,.one-third+.two-thirds,.two-thirds+.one-third{margin-top:1.5rem}

.grid.fourths>:last-child,.grid.fourths>:nth-child(2n),.grid.halves>:last-child,.grid.halves>:nth-child(2n),.grid.thirds>:last-child,.grid.thirds>:nth-child(3n){margin-right:0}
.one-half,.one-third,.two-thirds{padding-left:.75rem;padding-right:.75rem;float:left}
.grid.fourths:last-child,.grid.halves:last-child,.grid.thirds:last-child{margin-bottom:-2.85714%}
.grid.fourths>*,.grid.halves>*{margin-left:2.85714%;width:48.57143%;float:left}
.grid.fourths>:first-child,.grid.fourths>:nth-child(2n+1),.grid.halves>:first-child,.grid.halves>:nth-child(2n+1){margin-left:0;clear:left}
.grid.thirds>*{margin-left:2.85714%;width:31.42857%;float:left}
.grid.thirds>:first-child,.grid.thirds>:nth-child(3n+1){margin-left:0;clear:left}
.one-third{width:33.33333%}
.one-half{width:50%}
.two-thirds{width:66.66667%}
.one-half:first-of-type,.one-third:first-of-type,.two-thirds:first-of-type{padding-left:0}
.one-half:last-of-type,.one-third:last-of-type,.two-thirds:last-of-type{padding-right:0}
.one-half+.one-half,.one-third+.two-thirds,.two-thirds+.one-third{margin-top:0}
.one-third.first{padding-right:1rem}
.one-third.middle{padding:0 .5rem}
.one-third.last{padding-left:1rem}

#content{padding-top:0;margin-top:0}
.row{margin:0 auto;max-width:64rem;width:100%}
.row:after,.row:before{content:" ";display:table}
.row.pad{padding-left:.75rem;padding-right:.75rem;width:100%}

select{padding:.5rem 1.375rem .5rem .5rem}
form.filter select{float:left;width:50%}
form .grid select{width:100%}
form .grid input,form .grid select{margin-bottom:0}
.row1{margin-left: 5%;margin-right: 5%;}